schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="PriceBand" type="priceBandImpl"/>

  <xs:complexType name="priceBandImpl">
    <xs:sequence>
      <xs:element name="mileage" type="xs:int"/>
      <xs:element name="valuation" type="xs:decimal" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

