vehicleSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="vehicle">
    <xs:sequence>
      <xs:element name="derivative" type="xs:string" minOccurs="0"/>
      <xs:element name="ID" type="xs:long"/>
      <xs:element name="lookupCode" type="xs:string" minOccurs="0"/>
      <xs:element name="make" type="xs:string" minOccurs="0"/>
      <xs:element name="model" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:decimal" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

